{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <h1>POST url: {{ url_key }}</h1>
        <img src="https://dummyimage.com/300x200/9c309c/9fa0a6.png&text=sexy" alt="">
    </div>
    
{% endblock %}